@{
    ViewBag.Title = "Contact";
}

<div>
    @{ 
        if(User.IsInRole("Admin"))
        {
            <p>Hello Admin</p>
        }
    }
</div>


<script>
        

        $.getJSON('/Employee/Save', { SalesMasterViewModel: SalesMasterViewModel }, function (result) {

        });
</script>