@model IEnumerable<lec0Project.Models.Product>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create", null, new {@class= "btn btn-success fa fa-plus" })*@

    <a href="@Url.Action("Create", "Products")"><i class="glyphicon glyphicon-plus btn-lg">Add</i></a>
</p>

@*<form>
    <input type="text" name="name"  />
    <input type="submit"  value="Search With Name" />
</form>*@

@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "Get",
    UpdateTargetId = "productList",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "loadingDiv"
}))
{
    <input id="txtSearch" type="text" name="name" />
    @Html.Hidden("ProductId")
    <input type="submit" value="Search With Name" />
}

@Html.Partial("_productList", Model)

@section Scripts {
    
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {

            $("#txtSearch").autocomplete({
                source: '/Products/GetProductsByName',
                select: function (event, ui) {
                    $("#ProductId").val(ui.item.id);
                    this.value = ui.item.value;
                    return false;
                }
            });

            var getpage = function (e) {
                var $a = $(this);
                var options = {
                    url: $a.attr('href'),
                    type: 'get'
                };

                $.ajax(options)
                .done(function (data) {
                    var target = $a.parents("div.pageList").attr('data-target');
                    $(target).replaceWith(data);
                    console.log('test');
                });

                e.preventDefault();

            }

            $(".main-content").on('click', '.pageList a', getpage);

        });
    </script>
    }